# Ignore the 'data' folder
/data/
/env/

# Optional: Ignore all hidden system files
.DS_Store
Thumbs.db

# Optional: Ignore all log files
*.log

# Optional: Ignore any build or temporary files
*.class
*.tmp
